.container {
  display: flex;
  text-align: center;
}

.title {
  width: 220px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-left: 50%;
  margin-right: 50%;
}

.contacts {
  margin-top: 0;
  font-size: 34px;
}
